/* Author: Jorge Andrés Padilla */
.custom-bg {
    background: #0f2027;
    background: -webkit-linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
}

.custom-border {
    border-top: 4px solid #dd3333d3;
}

.signup-link {
    border-radius: 0.2rem;
    box-shadow: inset 0 0 0 1px #586069;
    transition: all 300ms;
}

    .signup-link:hover {
        box-shadow: inset 0 0 0 3px #fff;
    }

.start-link {
    border-radius: 1rem;
    transition: all 300ms;
}

    .start-link:hover .shopping-icon {
        animation: swing 0.8s cubic-bezier(.36, .07, .19, .97) both;
    }

.main-img {
    width: 100%;
}

.light-muted-text {
    color: rgb(194, 193, 193);
}

.main-title {
    font-size: 2rem;
}

.main-description {
    font-size: 1rem;
}

@media (min-width: 576px) {
    .main-title {
        font-size: 3rem;
    }

    .main-description {
        font-size: 1.25rem;
    }
}

@media (min-width: 768px) {
    .main-title {
        font-size: 4rem;
    }
}

@keyframes swing {
    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
